<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>character</key>
		<string>D</string>
		<key>isBlockedIn</key>
		<false/>
		<key>owner</key>
		<string></string>
	</dict>
	<dict>
		<key>character</key>
		<string>B</string>
		<key>isBlockedIn</key>
		<false/>
		<key>owner</key>
		<string>bil</string>
	</dict>
	<dict>
		<key>character</key>
		<string>Z</string>
		<key>isBlockedIn</key>
		<false/>
		<key>owner</key>
		<string>bil</string>
	</dict>
	<dict>
		<key>character</key>
		<string>Z</string>
		<key>isBlockedIn</key>
		<false/>
		<key>owner</key>
		<string>bil</string>
	</dict>
	<dict>
		<key>character</key>
		<string>S</string>
		<key>isBlockedIn</key>
		<true/>
		<key>owner</key>
		<string>bil</string>
	</dict>
	<dict>
		<key>character</key>
		<string>R</string>
		<key>isBlockedIn</key>
		<false/>
		<key>owner</key>
		<string>you</string>
	</dict>
	<dict>
		<key>character</key>
		<string>R</string>
		<key>isBlockedIn</key>
		<false/>
		<key>owner</key>
		<string>doug</string>
	</dict>
	<dict>
		<key>character</key>
		<string>B</string>
		<key>isBlockedIn</key>
		<false/>
		<key>owner</key>
		<string>bil</string>
	</dict>
	<dict>
		<key>character</key>
		<string>M</string>
		<key>isBlockedIn</key>
		<false/>
		<key>owner</key>
		<string>you</string>
	</dict>
	<dict>
		<key>character</key>
		<string>B</string>
		<key>isBlockedIn</key>
		<false/>
		<key>owner</key>
		<string>you</string>
	</dict>
	<dict>
		<key>character</key>
		<string>H</string>
		<key>isBlockedIn</key>
		<false/>
		<key>owner</key>
		<string>bil</string>
	</dict>
	<dict>
		<key>character</key>
		<string>G</string>
		<key>isBlockedIn</key>
		<false/>
		<key>owner</key>
		<string>bil</string>
	</dict>
	<dict>
		<key>character</key>
		<string>A</string>
		<key>isBlockedIn</key>
		<true/>
		<key>owner</key>
		<string>bil</string>
	</dict>
	<dict>
		<key>character</key>
		<string>N</string>
		<key>isBlockedIn</key>
		<false/>
		<key>owner</key>
		<string>bil</string>
	</dict>
	<dict>
		<key>character</key>
		<string>S</string>
		<key>isBlockedIn</key>
		<false/>
		<key>owner</key>
		<string>bil</string>
	</dict>
	<dict>
		<key>character</key>
		<string>L</string>
		<key>isBlockedIn</key>
		<true/>
		<key>owner</key>
		<string>bil</string>
	</dict>
	<dict>
		<key>character</key>
		<string>Y</string>
		<key>isBlockedIn</key>
		<false/>
		<key>owner</key>
		<string>bil</string>
	</dict>
	<dict>
		<key>character</key>
		<string>A</string>
		<key>isBlockedIn</key>
		<false/>
		<key>owner</key>
		<string>bil</string>
	</dict>
	<dict>
		<key>character</key>
		<string>I</string>
		<key>isBlockedIn</key>
		<false/>
		<key>owner</key>
		<string>bil</string>
	</dict>
	<dict>
		<key>character</key>
		<string>J</string>
		<key>isBlockedIn</key>
		<true/>
		<key>owner</key>
		<string>bil</string>
	</dict>
	<dict>
		<key>character</key>
		<string>V</string>
		<key>isBlockedIn</key>
		<true/>
		<key>owner</key>
		<string>bil</string>
	</dict>
	<dict>
		<key>character</key>
		<string>G</string>
		<key>isBlockedIn</key>
		<false/>
		<key>owner</key>
		<string>you</string>
	</dict>
	<dict>
		<key>character</key>
		<string>N</string>
		<key>isBlockedIn</key>
		<false/>
		<key>owner</key>
		<string>you</string>
	</dict>
	<dict>
		<key>character</key>
		<string>B</string>
		<key>isBlockedIn</key>
		<false/>
		<key>owner</key>
		<string>bil</string>
	</dict>
	<dict>
		<key>character</key>
		<string>E</string>
		<key>isBlockedIn</key>
		<true/>
		<key>owner</key>
		<string>bil</string>
	</dict>
</array>
</plist>
